.footer
  .container
    .row
      .col-12
        .footer__top
          .footer__logo
            +icon('logo')
          .footer__menu
            ul.main-menu.main-menu--light.footer-menu
              li
                a(href="about.html") О партии
              li
                a(href="team.html") Команда
              li
                a(href="news.html") Новости
              li
                a(href="map.html") Наша география
              li
                a(href="contacts.html") Контакты
    .row
      .col-12
        .footer__bottom
          .footer__copyright
            |Все права защищены © 2020 КПСС
          .footer__contacts
            .footer__contacts-item
              span Телефон:
              a(href="tel:880055555555") 8 800 555 555 55
            .footer__contacts-item
              span Email:
              a(href="mailto:info@kpss.ru") info@kpss.ru