.header
  .container
    .row
      .col-12
        .header__content
          .header__logo
            a(href="index.html")
              +icon('logo')
          .header__menu
            button.hamburger(type="button")
              .hamburger-box
                span.hamburger-inner
            ul.main-menu.mobile-menu
              li
                a(href="about.html") О партии
              li
                a(href="team.html") Команда
              li
                a(href="news.html") Новости
              li
                a(href="map.html") Наша география
              li
                a(href="contacts.html") Контакты