.home-about
  position: relative
  background-color: $color-DawnPink
  z-index: 100
  padding-bottom: 95px
  $this: &
  &--inside
    padding-bottom: 85px
    #{$this}__body
      top: 0px
      margin-bottom: 0
  &__body
    position: relative
    top: -90px
    background-color: $color-white
    background: $color-white url('../images/icons/star-bg.svg') no-repeat center center
    margin-bottom: 95px
  &__content
    display: flex
    position: relative
    top: 90px
    padding: 0 90px
  &__content-text
    width: 45%
    padding-right: 90px
    padding-bottom: 180px
    h3
      margin: 0 0 32px
      font-size: 20px
      font-weight: 700
      text-transform: uppercase
    span
      color: $color-Nevada
      font-size: 14px
      line-height: 20px
      p
        margin-bottom: 20px
        &:last-child
          margin-bottom: 0
  &__content-img
    width: 55%

.section-all-link
  display: flex
  justify-content: center
  &--margin
    margin-top: 30px

.content-inside
  padding: 95px 0
  background-color: $color-DawnPink
  &--white
    background-color: $color-white
  &--small
    padding: 85px 0
  &--last-news
    padding-bottom: 65px
  &--team
    padding-bottom: 0px

.news
  padding: 90px 0
  background: $color-white
.news-item
  display: block
  width: 100%
  background: $color-white
  border: 1px solid $color-DawnPink
  box-sizing: border-box
  margin-bottom: 30px
  $this: &
  &__img
    width: 100%
    height: 220px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    padding: 30px
    color: $color-black
  &__title
    font-size: 16px
    font-weight: 700
    line-height: 20px
    min-height: 40px
    @extend .transition
  &__text
    font-size: 14px
    line-height: 20px
    margin-top: 8px
  &__actions
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 15px
    span
      position: relative
      display: block
      padding-left: 25px
      font-size: 14px
      color: $color-Nevada
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        +sprite('clock')
    .read-more
      font-size: 14px
      font-weight: 700
      color: $color-Cinnabar
      @extend .transition
      svg
        fill: $color-Cinnabar
        padding-left: 5px
        @extend .transition
  &:hover
    #{$this}__title
      color: $color-Cinnabar
    #{$this}__actions
      .read-more
        color: $color-black
        svg
          fill: $color-black

.full-map
  padding: 90px 0
  background-color: $color-DawnPink

.bottom-info
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  background-color: $color-white
  background: $color-white url('../images/icons/star-bg.svg') no-repeat center center
  box-sizing: border-box
  padding: 90px
  &__left, &__right
    width: 50%
    max-width: 405px
    box-sizing: border-box
  &__left
    padding-right: 15px
  &__right
    padding-left: 15px
  &__left-item
    margin-bottom: 32px
    &:last-child
      margin-bottom: 0
  &__left-item-title
    display: flex
    align-items: center
    margin-bottom: 14px
    font-size: 16px
    font-weight: 700
    color: $color-black
    svg
      margin-right: 22px
  &__left-item-text
    font-size: 14px
    color: $color-Nevada
    line-height: 20px
  &__right-item
    margin-bottom: 64px
    &:last-child
      margin-bottom: 0
  &__right-item-title
    font-size: 20px
    color: $color-black
    font-weight: 700
    margin-bottom: 30px
  &__right-item-text
    font-size: 14px
    color: $color-Nevada
    line-height: 20px

.panel-white
  background-color: $color-white
  padding: 90px
  $this: &
  &--margin
    margin-top: 90px
  &--accordion
    margin-top: 20px
    padding-bottom: 60px
  &--full
    margin-top: 90px
    padding: 0 90px
    #{$this}__row
      position: relative
      top: -90px
    #{$this}__image
      order: 1
      width: 100%
      margin-bottom: 90px
    #{$this}__text
      order: 2
      width: 100%
      padding: 0
  &__row
    display: flex
    flex-flow: row wrap
    &--rev
      margin-top: 90px
      #{$this}__text
        order: 2
        padding-right: 0
        padding-left: 90px
      #{$this}__image
        order: 1
  &__text
    width: 50%
    box-sizing: border-box
    padding-right: 90px
    font-size: 14px
    color: $color-Nevada
    line-height: 20px
    p
      margin: 0
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  &__image
    width: 50%
    img
      max-width: 100%

.quote-info
  display: flex
  flex-flow: row nowrap
  align-items: center
  &__image
    width: 244px
    img
      max-width: 100%
  &__text
    width: 70%
    font-size: 16px
    line-height: 24px
    color: $color-black
    font-weight: 600
    padding-left: 48px

.contacts-panel
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-height: 342px
  background-color: $color-white
  $this: &
  &--adr
    #{$this}__icon
      margin-top: 20px
  &__content
    display: flex
    flex-flow: column wrap
    justify-content: center
    width: 190px
  &__icon
    display: flex
    justify-content: center
  &__name
    font-size: 14px
    color: $color-Nevada
    margin-top: 30px
    text-align: center
  &__text
    font-size: 18px
    color: $color-black
    margin-top: 10px
    text-align: center
    a
      color: $color-black
.contacts-line
  display: flex
  justify-content: space-between
  background-color: $color-white
  margin-top: 30px
  padding: 10px 30px
  font-size: 14px
  color: $color-black

.article
  background-color: $color-white
  &__image
    img
      width: 100%
  &__content
    padding: 75px 90px
  &__text
    font-size: 14px
    line-height: 20px
    color: $color-Nevada
    p
      margin: 0
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  &__det
    margin-top: 35px
    span
      position: relative
      display: block
      padding-left: 25px
      font-size: 14px
      color: $color-Nevada
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        +sprite('clock')

.team-grid
  margin-top: 90px
.team-member
  background-color: $color-white
  width: 100%
  height: 300px
  margin-bottom: 120px
  &__content
    position: relative
    top: -90px
    display: flex
    flex-flow: column wrap
    align-items: center
    padding: 0 20px
  &__photo
    width: 180px
    height: 180px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__name
    margin-top: 30px
    text-align: center
    font-size: 18px
    line-height: 22px
    color: $color-black
  &__pos
    position: relative
    margin-top: 12px
    text-align: center
    font-size: 14px
    color: $color-Nevada
    &:after
      content: ''
      position: absolute
      bottom: -32px
      left: 50%
      margin-left: -15px
      width: 30px
      height: 2px
      background-color: $color-Cinnabar
