.footer
  background: $color-Tundora
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 105px
    box-sizing: border-box
    padding: 10px 0
    border-bottom: 1px solid #655e5b
  &__logo
    svg
      fill: $color-white
  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    padding: 32px 0
  &__copyright
    font-size: 14px
    color: $color-white
    opacity: 0.4
  &__contacts
    display: flex
  &__contacts-item
    font-size: 14px
    color: $color-white
    margin-right: 60px
    &:last-child
      margin-right: 0px
    span
      opacity: 0.4
      margin-right: 14px
    a
      color: $color-white
      &:hover
        color: $color-Cinnabar