@media screen and (max-width: 1024px)
  .container
    box-sizing: border-box
    padding: 0 5px
  .main-menu 
    li
      margin-right: 40px
  .swiper-slide-content
    h1
      font-size: 35px
      line-height: 45px
  .btn--absolute
    left: 120px
  .home-about
    padding-bottom: 40px
    &__body
      margin-bottom: 20px
    &__content
      top: 30px
      padding: 0 40px
    &__content-text
      width: 60%
      padding-right: 40px
      padding-bottom: 120px
    &__content-img
      width: 40%
  .news, .full-map
    padding: 60px 0
  .bottom-info
    padding: 40px
  .vmap
    height: 600px !important
  .content-inside
    padding: 60px 0
  .panel-white
    padding: 40px
    &--margin
      margin-top: 40px
    &__row
      &--rev
        .panel-white__text
          padding-left: 40px
    &--full
      margin-top: 40px
      padding-top: 0px
      padding-bottom: 0px
      .panel-white__row
        top: -40px
      .panel-white__image
        margin-bottom: 40px
    &__text
      width: 60%
      padding-right: 40px
    &__image
      width: 40%
  .history-line-item
    &--first
      top: 80px
    &--third
      top: 850px
  .article
    &__content
      padding: 30px 40px

@media screen and (max-width: 860px)
  .main-menu 
    li
      margin-right: 25px
      a
        font-size: 15px

@media screen and (max-width: 767px)
  .header
    &__content
      height: 70px
  .mobile-menu
    position: absolute
    top: 70px
    left: 0
    width: 100%
    z-index: 200
    background: $color-white
    flex-flow: row wrap
    padding: 10px 20px
    box-sizing: border-box
    border-top: 3px solid $color-Cinnabar
    visibility: hidden
    opacity: 0
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    transition: all 0.2s ease-in-out
    li
      width: 100%
      margin: 7px 0
      a
        display: block
        padding: 5px 0
        font-size: 16px
    &.is-open
      visibility: visible
      opacity: 1
  .hamburger
    display: block
  .news, .full-map
    padding: 40px 0
  .swiper-slide-content
    padding: 0 10px
    h1
      font-size: 25px
      line-height: 35px
    span
      font-size: 17px
  .swiper-slide
    height: 540px
  .home-about
    &__body
      background-size: 80%
    &__content-text
      width: 100%
      padding-right: 0
      padding-bottom: 110px
    &__content-img
      display: none
  .btn--absolute
    left: 50%
    margin-left: -120px
  .btn-big
    margin-bottom: 20px
  .vmap
    height: 400px !important
  .bottom-info
    background-size: 80%
    &__left, &__right
      width: 100%
      padding: 0
    &__right
      margin-top: 60px
    &__right-item
      margin-bottom: 30px
    &__right-item-title
      margin-bottom: 20px
  .footer
    &__top
      position: relative
      flex-flow: row wrap
      padding: 20px 0
    &__logo
      position: absolute
      top: 30px
      right: 0
    &__menu
      width: 100%
      margin-top: 10px
    &__contacts-item
      margin: 0
    &__bottom
      flex-flow: row wrap
    &__copyright
      order: 2
      width: 100%
      margin-top: 15px
      font-size: 13px
    &__contacts
      order: 1
      flex-flow: row wrap
    &__contacts-item
      width: 100%
      margin-bottom: 10px
      span
        opacity: 0.6
  .footer-menu
    flex-flow: row wrap
    li
      width: 100%
      margin: 7px 0
  .content-inside
    padding: 40px 0
  .section-title
    margin: 0 0 40px
  .history-line-item
    width: 100%
    padding-right: 80px
    &:before
      width: 52px
    &__title
      strong
        position: relative
        top: 3px
    &--rev
      position: relative
      top: 0
      padding-left: 0px
      &:before
        left: unset
        right: 0px
      &:after
        display: block
      .history-line-item__title, .history-line-item__text
        text-align: right
      .history-line-item__title
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: flex-end
        strong
          order: 1
          margin-left: 12px
        &:after
          left: unset
          right: -35px
  .panel-white
    &__text
      width: 100%
      padding: 0
      order: 2
    &__image
      width: 100%
      order: 1
      margin-bottom: 25px
    &__row
      &--rev
        margin-top: 60px
        .panel-white__text
          padding-left: 0px
  .quote-info
    flex-flow: row wrap
    &__image
      margin: 0 auto
    &__text
      width: 100%
      padding: 0 10px
      margin-top: 20px
  .section-title
    font-size: 26px
  .pagination
    flex-flow: row wrap
    padding: 25px 30px
    &__items
      width: 100%
      order: 3
      display: flex
      justify-content: center
      margin-top: 40px
    &__prev
      width: 50%
      order: 1
    &__next
      width: 50%
      order: 2
      display: flex
      justify-content: flex-end
  .article
    &__content
      padding: 30px
  .accordion
    &__item-title
      h4
        font-size: 18px
  .team-member
    &__pos
      margin-top: 15px
  .contacts-panel
    min-height: auto
    padding: 30px 20px
    margin-bottom: 20px
    box-sizing: border-box
  .contacts-line
    margin-top: 0px

@media screen and (max-width: 680px)
  .contacts-line
    flex-flow: row wrap
    padding: 10px 20px
    span
      display: block
      width: 100%
      padding: 5px 0

@media screen and (max-width: 520px)
  .pagination
    padding: 20px 15px

@media screen and (max-width: 460px)
  .pagination
    &__items
      ul
        li
          margin: 0 7px
          &.spacer
            margin: 0 8px

@media screen and (max-width: 420px)
  .home-about
    padding-bottom: 30px
    &__content
      padding: 0 20px
    &__content-text
      padding-bottom: 110px
    &__body
      margin-bottom: 0
  .container
    padding: 0
  .btn-big
    padding-right: 10px
    span
      font-size: 15px
  .section-title
    font-size: 24px
    margin-bottom: 40px
  .news-item
    &__content
      padding: 20px
  .section-all-link--margin
    margin-top: 10px
  .bottom-info
    padding: 20px
  .panel-white
    padding: 20px
    &--margin
      margin-top: 30px
    &--full
      padding-bottom: 0px
      .panel-white__row
        top: -50px
      .panel-white__image
        margin-bottom: 30px
    &__row
      &--rev
        margin-top: 40px
  .quote-info
    &__text
      font-size: 14px
      line-height: 22px
      padding: 0
  .history-line-item
    padding-right: 50px
    padding-bottom: 40px
    &:before
      width: 26px
    &__text
      font-size: 13px
      line-height: 18px
  .article
    &__content
      padding: 20px

@media screen and (max-width: 380px)
  .pagination
    &__prev, &__next
      svg
        display: none
