html
	font-size: $default-font-size
body
	background: $color-white
	background-repeat: repeat-x
	font-family: $font-Montserrat
	font-size: $default-font-size
	font-weight: 400
	position: relative
	width: 100%
	-webkit-tap-highlight-color: transparent
	overflow-x: hidden
html, body
	height: 100%
main
	display: block
	box-sizing: border-box
a
	text-decoration: none !important
	@extend .transition
img
	display: block
	max-width: 100%
input[type="submit"]
	@extend .transition
input, textarea, select
	outline: none
	appearance: none

// Default elements for extend
.inline-block
	display: inline-block
	vertical-align: top
.transition
	+transition(0.2s ease-in-out)
.cb
	clear: both
