$useIEFilters: 0

=background-size($value)
  -webkit-background-size: $value
  background-size: $value

=border-image($path, $offsets, $repeats)
  -moz-border-image: $path $offsets $repeats
  -o-border-image: $path $offsets $repeats
  -webkit-border-image: $path $offsets $repeats
  border-image: $path $offsets $repeats

=border-radius($values)
  -moz-border-radius: $values
  -webkit-border-radius: $values
  border-radius: $values
  -moz-background-clip: padding
  -webkit-background-clip: padding-box
  background-clip: padding-box

=box-shadow($x, $y, $offset, $hex, $ie: $useIEFilters, $inset: null, $spread:null)
  -moz-box-shadow: $x $y $offset $spread $hex $inset
  -webkit-box-shadow: $x $y $offset $spread $hex $inset
  box-shadow: $x $y $offset $spread $hex $inset
  @if $ie == 1
    $iecolor: "#" + red($hex) + green($hex) + blue($hex)
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$iecolor}')
    -ms-filter: quote(progid:DXImageTransform.Microsoft.dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$iecolor}'))

=box-sizing($value)
  -moz-box-sizing: $value
  -webkit-box-sizing: $value
  box-sizing: $value

=linear-gradient($from, $to, $ie: $useIEFilters)
  @if $ie != 1
    background-color: $to
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to))
  background-image: -webkit-linear-gradient(top, $from, $to)
  background-image: -moz-linear-gradient(top, $from, $to)
  background-image: -ms-linear-gradient(top, $from, $to)
  background-image: -o-linear-gradient(top, $from, $to)
  background-image: linear-gradient(top bottom, $from, $to)
  @if $ie == 1
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}')
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'))

=rgba-bg($hex, $alpha, $ie: $useIEFilters)
  @if $ie == 1
    background-color: none
    $hexopac: ie-hex-str(rgba($hex, $alpha))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$hexopac}',EndColorStr='#{$hexopac}}')
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$hexopac}',EndColorStr='#{$hexopac}'))
  @else
    background-color: $hex
    background-color: rgba($hex, $alpha)

=perspective($perspective)
  -moz-perspective: $perspective
  -ms-perspective: $perspective
  -webkit-perspective: $perspective
  perspective: $perspective
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

=transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

=transform-origin($value)
  -webkit-transform-origin: $value
  -moz-transform-origin: $value
  -o-transform-origin: $value
  transform-origin: $value

=matrix($a, $b, $c, $d, $e, $f)
  -moz-transform: matrix($a, $b, $c, $d, #{$e}px, #{$f}px)
  -o-transform: matrix($a, $b, $c, $d, $e, $f)
  -ms-transform: matrix($a, $b, $c, $d, $e, $f)
  -webkit-transform: matrix($a, $b, $c, $d, $e, $f)
  transform: matrix($a, $b, $c, $d, $e, $f)

=rotate($deg)
  +transform(rotate(#{$deg}deg))

=scale($size)
  +transform(scale(#{$size}))

=translate($x, $y)
  +transform(translate($x, $y))

=transition($value)
  -moz-transition: $value
  -o-transition: $value
  -ms-transition: $value
  -webkit-transition: $value
  transition: $value
  
=font-face($family, $path, $svg, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.eot')
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg')
    font-weight: $weight
    font-style: $style

=button($padding, $radius, $bg, $color, $bg_hover, $color_hover, $border)
  display: inline-block
  padding: $padding
  border: $border
  +border-radius($radius)
  background: $bg
  color: $color
  font-weight: 500
  font-size: 16px
  line-height: 24px
  font-family: 'Geometria'
  cursor: pointer
  
  &:hover, &:focus
    background: $bg_hover
    color: $color_hover

=maxw($width)
  @media screen and (max-width: #{$width})
    @content

=minw($width)
  @media screen and (min-width: #{$width})
    @content

=minmaxw($minw, $maxw)
  @media screen and (min-width: #{$minw}) and (max-width: #{$maxw})
    @content

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content


// svg sprite
$sprite: map-get($icons, sprite) !default
$mq-base-font-size: 16px !default
$sprite-padding: 5

@function decimal-round ($number, $digits: 0, $mode: round)
  $n: 1;
  @if type-of($number) != number
    @warn '#{ $number } is not a number.'
    @return $number
  @if type-of($digits) != number
    @warn '#{ $digits } is not a number.'
    @return $number
  @else if not unitless($digits)
    @warn '#{ $digits } has a unit.'
    @return $number

  @for $i from 1 through $digits
    $n: $n * 10

  @if $mode == round
    @return round($number * $n) / $n
  @else if $mode == ceil
    @return ceil($number * $n) / $n
  @else if $mode == floor
    @return floor($number * $n) / $n
  @else
    @warn '#{ $mode } is undefined keyword.'
    @return $number

@function decimal-ceil ($number, $digits: 0)
  @return decimal-round($number, $digits, ceil)

// PX to EM
@function mq-px2em($px, $base-font-size: $mq-base-font-size)
  @if unitless($px)
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels."
    @return mq-px2em($px * 1px, $base-font-size)
  @else if unit($px) == em
    @return $px
  @return ($px / $base-font-size) * 1em

%sprite
  display: inline-block
  background-image: url(map-get($sprite, svgPath))
  background-size: map-get($sprite, width) map-get($sprite, height)

@function sprite-attr($icon, $attr)
  $newIcon: map-get($icons, $icon)
  @if $newIcon == null
    @warn "Can't find an icon with the name #{$icon}"
  @return map-get($newIcon, $attr)

@function icon-attr($icon)
  $attr: (width: decimal-ceil(sprite-attr($icon, width), 1), height: decimal-ceil(sprite-attr($icon, height), 1), x: sprite-attr($icon, backgroundX) - $sprite-padding, y: sprite-attr($icon, backgroundY) - $sprite-padding)
  @return $attr

@mixin sprite($icon, $type: all)
  @if $type == all
    @extend %sprite

  $iconMap: icon-attr($icon)

  @if $type == all or $type == size
    width: map-get($iconMap, width)
    height: map-get($iconMap, height)

  @if $type == all or $type == bg
    background-position: map-get($iconMap, x)  map-get($iconMap, y)