section.carousel
  .swiper-container
    .swiper-wrapper
      .swiper-slide(style="background-image: url(assets/images/content/slide-1.jpg)")
        .swiper-slide-content
          h1
            |Комунистическая партия социальной справедливости
          span
            |Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных
      .swiper-slide(style="background-image: url(assets/images/content/slide-1.jpg)")
        .swiper-slide-content
          h1
            |Комунистическая партия социальной справедливости
          span
            |Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных
      .swiper-slide(style="background-image: url(assets/images/content/slide-1.jpg)")
        .swiper-slide-content
          h1
            |Комунистическая партия социальной справедливости
          span
            |Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных
    .swiper-pagination