.jqvmap-label {
	position: absolute;
	display: none;
  pointer-events:none;
  max-width: 240px;
  box-sizing: border-box;
  background-color: $color-white;
  padding: 20px;
  color: $color-black;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}
.tooltip-name {
  font-size: 14px;
  font-weight: 700;
}
.tooltip-status {
  margin: 10px 0 15px;
  font-size: 12px;
  color: $color-Cinnabar;

  &--false {
    color: $color-black;
  }
}
.tooltip-text {
  font-size: 12px;
  color: $color-Nevada;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout {
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  padding: 5px;
  background: $color-white;
  color: #afa095;
  border: 1px solid #f4ebe4;
	width: 15px;
	height: 15px;
	cursor: pointer;
	line-height: 15px;
	text-align: center;
}
.jqvmap-zoomin {
	top: 5px;
}
.jqvmap-zoomout {
	top: 35px;
}
.jqvmap-region {
  cursor: pointer;
}
.jqvmap-ajax_response {
  width: 100%;
  height: 500px;
}
