extends ../layout/base

append config
	- var pageTitle = 'О партии';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|О партии
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|О партии
			.home-about.home-about--inside
				.container
					.row
						.col-12
							.home-about__body
								.home-about__content
									.home-about__content-text
										h3
											|Коммунистическая партия социальной справедливости
										span
											p Является общественным объединением, созданным в целях участия граждан Российской Федерации в политической жизни общества посредством формирования и выражения их политической воли, участия в общественных и политических акциях, в выборах и референдумах, а также в целях представления интересов граждан в органах государственной власти и органах местного самоуправления.
											p Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных.  КПСС построит общество, где не будет нищеты и богатства, где труд будет достойно вознаграждаться, где у каждого будут возможности для развития, где человек будет уверен в своем будущем.
									.home-about__content-img
										img(src="assets/images/content/home-about.jpg", alt="")
		section.content-inside.content-inside--white
			.container
				.row
					.col-12
						h3.section-title
							|История
				.row
					.col-12
						.history-line
							ul
								li.history-line-item
									.history-line-item__title
										|год
										strong 2012
									.history-line-item__text
										|Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов.
								li.history-line-item.history-line-item--rev.history-line-item--first
									.history-line-item__title
										strong 2013
										|год
									.history-line-item__text
										|В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе.
								li.history-line-item.history-line-item--rev.history-line-item--second
									.history-line-item__title
										strong 2014
										|год
									.history-line-item__text
										|В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева, возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов), в Республике Крым получила 0,84 % (6 199 голосов), в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов), не пройдя в парламент.
								li.history-line-item
									.history-line-item__title
										|год
										strong 2015
									.history-line-item__text
										|13 декабря 2015 года под руководством председателя партии «Гражданская Сила» Олега Сидорова и председателя КПСС Андрея Богданова на совместном заседании Федеральных Политических советов партий было объявлено о предстоящем объединении под существующим названием «Коммунистическая партия социальной справедливости», но на организационной базе партии «Гражданская Сила», допущенной к федеральным выборам без сбора подписей. Однако уже 18 декабря Олег Сидоров был смещён с должности.
								li.history-line-item.history-line-item--rev.history-line-item--third
									.history-line-item__title
										strong 2016
										|год
									.history-line-item__text
										|В выборах в Государственную думу (2016) не участвовала. Центральная избирательная комиссия не включила партию в список партий, которые на выборах в Госдуму освобождаются от сбора подписей избирателей. Партия самостоятельно сбор подписей не проводила.
								li.history-line-item
									.history-line-item__title
										|год
										strong 2018
									.history-line-item__text
										|12 января 2018 года на Президентские выборы в России (2018) секретарь ЦК партии, депутат Волгоградской городской Думы Олег Булаев, подал документы в ЦИК России, однако до регистрации снял свою кандидатуру с выборов.
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Идеология
				.row
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Устав политической партии Коммунистическая партия социальной справедливости
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Программа политической партии Коммунистическая партия социальной справедливости
				.row
					.col-12
						.panel-white.panel-white--margin
							.panel-white__row
								.panel-white__text
									p Социализм (фр. socialisme от лат. socialis «общественный») — ряд экономических и социальных систем, характеризующихся государственным и общественным контролем над экономикой, средствами производства и распределением ресурсов, а также политические теории и движения, связанные с ними. Существует много разновидностей социализма, и не существует единого определения, включающего все из них.
									p Социалистические системы делятся на нерыночные и рыночные формы. Нерыночный социализм предполагает замену рыночных факторов производства и денег инженерно-техническими критериями, основанными на расчётах, выполненных в натуральной форме, тем самым создавая экономический механизм, который функционирует в соответствии с экономическими законами, отличными от законов капитализма. Нерыночный социализм направлен на то, чтобы обойти неэффективность и кризисы, традиционно связанные с накоплением капитала и системой прибыли. В свою очередь рыночный социализм сохраняет использование денежных цен, факторов рынка и, в некоторых случаях, мотив прибыли в отношении деятельности предприятий, находящихся в общественной собственности, и распределения средств производства между ними. Прибыль, полученная этими фирмами, будет напрямую контролироваться рабочей силой каждой фирмы или накапливаться для общества в целом в форме социального дивиденда.
								.panel-white__image
									img(src="assets/images/content/pic-1.jpg", alt="")
							.panel-white__row.panel-white__row--rev
								.panel-white__text
									p Социалистическая политика была как интернационалистской, так и националистической по ориентации; организованная как через политические партии, так и противостоящая партийной политике; временами пересекающаяся с профсоюзами, а иногда независима и критична по отношению к профсоюзам; присутствует как в промышленно развитых, так и в развивающихся странах.[23] Созданная в рамках социалистического движения, социал-демократия подразумевает смешанную экономику с рынком, который включает существенное государственное вмешательство в форме перераспределения доходов, различного рода регулирования и государство всеобщего благосостояния.
									p Последователи марксизма (сам Маркс этот термин не использовал) называют социализмом первую фазу коммунизма, которая начинается после переходной стадии от капитализма к коммунизму: переходная стадия начинается захватом политической власти и завершается уничтожением частной собственности на основные средства производства с переходом к государственной плановой экономике. Первая фаза коммунизма завершается с преодолением противоречий между умственным и материальным трудом, а также между городом и деревней. Гарант этого развития с момента захвата политической власти — диктатура пролетариата, которая осуществляется советами.
								.panel-white__image
									img(src="assets/images/content/pic-2.jpg", alt="")
		section.content-inside.content-inside--white.content-inside--small
			.container
				.row
					.col-12
						.quote-info
							.quote-info__image
								img(src="assets/images/content/pic-3.jpg", alt="")
							.quote-info__text
								|Термин «социализм» впервые был использован в работе Пьера Леру «Индивидуализм и социализм». М. Туган-Барановский писал, что термин «социализм» подчёркивает значение общественного сотрудничества в новой социальной модели, в противоположность господствовавшей экономической школе, признававшей идеалом хозяйственного строя неограниченную свободу единоличного предпринимательства. Социализм, таким образом, противопоставлялся индивидуализму.
		section.content-inside
			.container
				.row
					.col-12
						.panel-white.panel-white--full
							.panel-white__row
								.panel-white__text
									p Социалистическое политическое движение включает в себя ряд политических философий, возникших в революционных движениях середины-конца 18-го века и связанных с социальными проблемами капитализма. К концу 19-го века, после работ Карла Маркса и его сотрудника Фридриха Энгельса, социализм стал обозначать оппозицию капитализму и защиту посткапиталистической системы, основанной на некоторой форме общественной собственности на средства производства. К 1920-м годам социал-демократия и коммунизм стали двумя доминирующими политическими тенденциями в международном социалистическом движении. К этому времени социализм стал «наиболее влиятельным светским движением двадцатого века во всем мире. Это политическая идеология (или мировоззрение), широкое и разделённое политическое движение», и в то время как появление Советского Союза как первого номинально социалистического государства в мире привело к широко распространённой ассоциации социализма с советской экономической моделью, некоторые экономисты и интеллектуалы утверждали, что на практике эта модель функционировала как форма государственного капитализма.
									p Социалистические партии и идеи остаются политической силой с различной степенью власти и влияния на всех континентах, возглавляя национальные правительства во многих странах мира. Сегодня некоторые социалисты также поднимают проблемы других социальных движений, таких как защита окружающей среды, феминизм и прогрессивизм. В Америке 21-го века термин социализм, без четкого определения, стал уничижительным и используется республиканцами, чтобы запятнать либеральную и прогрессивную политику, предложения и общественных деятелей.
								.panel-white__image
									img(src="assets/images/content/pic-4.jpg", alt="")
		include ../layout/footer

