extends ../layout/base

append config
	- var pageTitle = 'Страница новости';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								a(href="news.html") Новости
							li
								|Митинг москвичей в День охраны окружающей среды
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Митинг москвичей в День охраны окружающей среды
				.row
					.col-12
						.article
							.article__image
								img(src="assets/images/content/news-full.jpg", alt="")
							.article__content
								.article__text
									p Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов, приуроченных ко Всемирному Дню охраны природы. В качестве организатора митинга выступил Экологический совет СВАО, состоящий из представителей инициативных групп граждан, борющихся за сохранение экосистемы столицы в разных районах округа. В очередной раз организационную поддержку городским активистам оказала партия РОТ ФРОНТ. Акцию посетили активисты КПРФ.
									p Участники митинга отметили крайнюю неэффективность, а во многом губительность экологической политики московских властей. Имеют место целенаправленное ослабление экологических норм и ограничений градостроительной и иной хозяйственной деятельности; систематическое нарушение действующих нормативно-правовых актов со стороны государственных и коммерческих структур; несбалансированная градостроительная политика; сокращение площади зелёных насаждений и вырубка подмосковных лесов; деградация водных объектов и речной сети; необоснованная замена естественных почв искусственными почвогрунтами;  увеличение загрязнения атмосферного воздуха; радиационное, шумовое, электромагнитное загрязнения; ослабление управленческих и контрольных функций государства в области охраны окружающей среды.
									p Принимая резолюцию митинга активисты потребовали от московских властей сохранить и благоустроить филиал Лианозовского парка на ул. Руставели; становить строительство нового здания Бутырского суда в р-не Марьина Роща; не допустить прямого транзита автомобильного транспорта через район Марфино и расширения Большой Марфинской улицы; остановить строительство автостанции в рамках «ТПУ на ВДНХ»; прекратить незаконное строительство 19-ти этажного бизнес-центра, с гостиничными номерами и 3-х уровневой подземной автостоянкой в водоохранной зоне Капустинского пруда.
								.article__det
									span
										|27.01.2017
		section.content-inside.content-inside--white.content-inside--last-news
			.container
				.row
					.col-12
						h3.section-title
							|Другие новости
				.row
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
		include ../layout/footer

