extends ../layout/base

append config
	- var pageTitle = 'Контакты';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Контакты
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Контакты
				.row
					.col-4.col-md-12
						.contacts-panel
							.contacts-panel__content
								.contacts-panel__icon
									+icon('call')
								.contacts-panel__name
									|Телефон
								.contacts-panel__text
									|8 800 555 555 55
					.col-4.col-md-12
						.contacts-panel
							.contacts-panel__content
								.contacts-panel__icon
									+icon('email')
								.contacts-panel__name
									|Email
								.contacts-panel__text
									|info@kpss.ru
					.col-4.col-md-12
						.contacts-panel.contacts-panel--adr
							.contacts-panel__content
								.contacts-panel__icon
									+icon('place')
								.contacts-panel__name
									|Адрес
								.contacts-panel__text
									|27287 г. Москва, ул. Полтавская, д. 18
				.row
					.col-12
						.contacts-line
							span
								|ОГРН № 1127799010129  от  28 мая 2012 г.
							span
								|Руководящий орган: Правление
		include ../layout/footer

