extends ../layout/base

append config
	- var pageTitle = 'Главная';

block content
	.wrapper
		include ../layout/header
		include ../components/carousel
		section.home-about
			.container
				.row
					.col-12
						.home-about__body
							.home-about__content
								.home-about__content-text
									h3
										|Коммунистическая партия социальной справедливости
									span
										p Является общественным объединением, созданным в целях участия граждан Российской Федерации в политической жизни общества посредством формирования и выражения их политической воли, участия в общественных и политических акциях, в выборах и референдумах, а также в целях представления интересов граждан в органах государственной власти и органах местного самоуправления.
										p Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных.  КПСС построит общество, где не будет нищеты и богатства, где труд будет достойно вознаграждаться, где у каждого будут возможности для развития, где человек будет уверен в своем будущем.
								.home-about__content-img
									img(src="assets/images/content/home-about.jpg", alt="")
							a.btn.btn--absolute(href="#")
								|Подробнее о партии
				.row
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Устав политической партии Коммунистическая партия социальной справедливости
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Программа политической партии Коммунистическая партия социальной справедливости
		section.news
			.container
				.row
					.col-12
						h4.section-title
							|Новости
				.news-grid
					.row
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-1.jpg", alt="")
								.news-item__content
									.news-item__title
										|Митинг москвичей в День охраны окружающей среды
									.news-item__text
										|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-2.jpg", alt="")
								.news-item__content
									.news-item__title
										|С Днем трудящихся, товарищи!
									.news-item__text
										|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-3.jpg", alt="")
								.news-item__content
									.news-item__title
										|Шествие-митинг посвященное Дню Единства
									.news-item__text
										|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
				.row
					.col-12
						.section-all-link.section-all-link--margin
							a.btn(href="#")
								|Все новости
		section.full-map
			.container
				.row
					.col-12
						h4.section-title
							|Наша география
				.row
					.col-12
						.vmap(id="vmap", style="width: 101%; margin-left: -1%; max-width: 1500px; height: 720px;")
				.row
					.col-12
						.bottom-info
							.bottom-info__left
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('calendar')
										|История
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено о предстоящем объединении под существующим…
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('concept')
										|Идеология
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено.
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('award')
										|Достижения
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий
							.bottom-info__right
								.bottom-info__right-item
									.bottom-info__right-item-title
										|Социальная справедливость 
									.bottom-info__right-item-text
										|Общество должно строиться на принципах социальной справедливости. Наша цель — ускоренное движение вперед за счет масштабных вложений в социальную сферу и человеческий капитал.
								.bottom-info__right-item
									.bottom-info__right-item-title
										|Человеческий потенциал — основа ускоренного развития России 
									.bottom-info__right-item-text
										|Человек — самое большое богатство страны! Чем большим потенциалом будет обладать каждый человек, тем выше интеллектуальный ресурс всей страны, тем динамичнее темпы роста экономики, тем значительнее возможности общества. КПСС добьется того, чтобы каждый гражданин получил максимум возможностей для саморазвития, а значит и для развития России.
		include ../layout/footer
