extends ../layout/base

append config
	- var pageTitle = 'Наша география';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Наша география
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Наша география
				.row
					.col-12
						.vmap(id="vmap", style="width: 101%; margin-left: -1%; margin-top: -40px; max-width: 1500px; height: 680px;")
				.row
					.col-12
						.panel-white.panel-white--accordion
							.accordion
								.accordion__item.is-open
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item.is-open
									.accordion__item-title
										h4 Краснодарский край
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Краснодарский край
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.

		include ../layout/footer
