extends ../layout/base

append config
	- var pageTitle = 'Новости';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Новости
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Новости
				.row
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
				.row
					.col-12
						.pagination
							.pagination__prev
								a(href="#")
									+icon('right-arrow')
									|Предыдущая
							.pagination__items
								ul
									li
										a(href="#") 1
									li.spacer
										|...
									li
										a(href="#") 3
									li
										a(href="#") 4
									li.is-current
										a(href="#") 5
									li
										a(href="#") 6
									li
										a(href="#") 7
									li.spacer
										|...
									li
										a(href="#") 15
							.pagination__next
								a(href="#")
									|Следующая
									+icon('right-arrow')
		include ../layout/footer

