extends ../layout/base

append config
	- var pageTitle = 'Команда';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Команда
		section.content-inside.content-inside--team
			.container
				.row
					.col-12
						h1.section-title
							|Команда
				.team-grid
					.row
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-1.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-2.jpg", alt="")
									.team-member__name
										|Брежнев
										br
										|Андрей Юрьевич
									.team-member__pos
										|Первый секретарь ЦК
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-3.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-2.jpg", alt="")
									.team-member__name
										|Брежнев
										br
										|Андрей Юрьевич
									.team-member__pos
										|Первый секретарь ЦК
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-3.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-1.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
		include ../layout/footer
