.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-award {
	width: 38px;
	height: 45px;
}
.icon-calendar {
	width: 47px;
	height: 45px;
}
.icon-call {
	width: 60px;
	height: 60px;
}
.icon-concept {
	width: 45px;
	height: 45px;
}
.icon-email {
	width: 60px;
	height: 60px;
}
.icon-logo {
	width: 136px;
	height: 45px;
}
.icon-pdf {
	width: 48px;
	height: 60px;
}
.icon-place {
	width: 60px;
	height: 60px;
}
.icon-right-arrow {
	width: 27px;
	height: 8px;
}
