$icons: (
	sprite: (width: 91px, height: 75px, svgPath: '../images/icons/sprite-bg.svg'),
    clock: (width: 15px, height: 15px, backgroundX: -60px, backgroundY: -30px),
    star: (width: 11px, height: 10px, backgroundX: 0px, backgroundY: -55px),
    star-page: (width: 50px, height: 45px, backgroundX: 0px, backgroundY: 0px),
    star-red: (width: 21px, height: 20px, backgroundX: -60px, backgroundY: 0px),
);