.accordion
  $this: &
  &__item
    border-bottom: 1px solid $color-DawnPink
    &:first-child
      #{$this}__item-title
        margin-top: 0
    &:last-child
      border-bottom: 0
    &.is-open
      #{$this}__item-content
        max-height: 1300px
        opacity: 1
      #{$this}__item-mode
        span
          &.is-open
            display: block
          &.is-close
            display: none
  &__item-title
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    margin-top: 30px
    padding: 0 0 30px
    cursor: pointer
    user-select: none
    &:hover
      #{$this}__item-mode
        color: $color-black
    h4
      display: block
      margin: 0
      max-width: calc(100% - 200px)
      font-size: 20px
      color: $color-black
      font-weight: 700
  &__item-mode
    font-size: 14px
    font-weight: 700
    color: $color-Cinnabar
    +transition(0.2s ease-in-out)
    span
      &.is-open
        display: none
      &.is-close
        display: block
  &__item-content
    overflow: hidden
    max-height: 0px
    opacity: 0
    transition: all 0.5s ease-in-out
  &__item-text
    font-size: 14px
    color: $color-Nevada
    line-height: 20px
    padding-bottom: 30px
    p
      margin: 0
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
