.breadcrumbs
  padding: 15px 0 10px
  background-color: $color-Tundora
  ul
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-flow: row wrap
    li
      position: relative
      font-size: 12px
      color: $color-white
      padding-right: 42px
      padding-bottom: 5px
      &:after
        content: ''
        position: absolute
        top: 1px
        right: 15px
        +sprite('star')
      &:last-child
        padding-right: 0px
        &:after
          display: none
      a
        color: $color-white
        font-weight: 700
        &:hover
          color: $color-Cinnabar
