.btn
  display: flex
  align-items: center
  justify-content: center
  min-width: 240px
  box-sizing: border-box
  padding: 0 10px
  height: 60px
  background: $color-Cinnabar
  color: $color-white
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  &:hover
    background: $color-black
  &--absolute
    width: 240px
    position: absolute
    bottom: -30px
    left: 165px
    z-index: 110
.btn-big
  display: flex
  align-items: center
  width: 100%
  box-sizing: border-box
  background: $color-white
  padding: 30px
  svg
    width: 48px
    fill: $color-Cinnabar
    @extend .transition
  span
    width: calc(100% - 48px)
    box-sizing: border-box
    padding-left: 30px
    color: $color-black
    font-size: 16px
    font-weight: 700
    line-height: 20px
    @extend .transition
  &:hover
    background: $color-Cinnabar
    svg
      fill: $color-white !important
    span
      color: $color-white

