.swiper-slide
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 660px
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
.swiper-slide-content
  max-width: 740px
  color: $color-white
  text-align: center
  margin-top: -120px
  user-select: none
  h1
    margin: 0
    font-weight: 700
    font-size: 45px
    line-height: 55px
    text-transform: uppercase
  span
    display: block
    margin-top: 30px
    font-size: 18px
    line-height: 22px
.swiper-pagination, .swiper-pagination-bullets
  bottom: 115px !important
.swiper-pagination-bullet
  box-sizing: border-box
  width: 10px
  height: 10px
  margin: 0 8px !important
  border-radius: 0
  border: 1px solid $color-white
  background-color: transparent
  background: transparent
  padding: 0
  opacity: 0.9
  cursor: pointer
  &.swiper-pagination-bullet-active
    background: $color-white