.hamburger
  display: none
  background: transparent
  outline: none
  cursor: pointer
  margin-left: 40px
  border: 0
  &.is-active
    .hamburger-inner
      transform: translate3d(0,10px,0) rotate(45deg)
      &:before
        transform: rotate(-45deg) translate3d(-5.71429px,-6px,0)
        opacity: 0
      &:after
        transform: translate3d(0,-20px,0) rotate(-90deg)
.hamburger-box
  position: relative
  width: 34px
  height: 22px
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
  position: absolute
  display: block
  width: 34px
  height: 2px
  transition-timing-function: ease
  transition-duration: 0.2s
  transition-property: transform
  border-radius: 5px
  background-color: $color-Cinnabar
.hamburger-inner
  top: 2px
  margin-top: -2px
  &:before
    content: ''
    top: 10px
    transition-timing-function: ease
    transition-duration: 0.2s
    transition-property: transform,opacity
  &:after
    content: ''
    top: 20px
