.history-line
  width: 100%
  position: relative
  ul
    margin: 0
    padding: 0
    list-style: none
.history-line-item
  position: relative
  box-sizing: boder-box
  width: 50%
  box-sizing: border-box
  padding-right: 110px
  padding-bottom: 63px
  &:before
    content: ''
    position: absolute
    top: 26px
    right: 0px
    width: 85px
    height: 2px
    background: $color-Cinnabar
  &:after
    content: ''
    position: absolute
    top: 27px
    right: 0
    width: 2px
    height: 100%
    background: $color-Cinnabar
  &:last-child
    padding-bottom: 0px
    &:after
      display: none
  $this: &
  &__title
    position: relative
    color: $color-Cinnabar
    font-size: 20px
    text-align: right
    margin-bottom: 25px
    &:after
      content: ''
      position: absolute
      top: 15px
      right: -35px
      +sprite('star-red')
    strong
      font-weight: 700
      font-size: 45px
      margin-left: 12px
  &__text
    color: $color-Nevada
    font-size: 14px
    line-height: 20px
    text-align: right
  &--rev
    position: absolute
    right: 0
    padding-right: 0
    padding-left: 110px
    &:before
      right: unset
      left: -1px
    &:after
      display: none
    #{$this}__title
      text-align: left
      strong
        margin-left: 0
        margin-right: 12px
      &:after
        right: unset
        left: -35px
    #{$this}__text
      text-align: left
  &--first
    top: 110px
  &--second
    top: 310px
  &--third
    top: 645px
