.main-menu
  list-style: none
  margin: 0
  padding: 0
  display: flex
  align-items: center
  li
    margin-right: 61px
    &:last-child
      margin-right: 0
    a
      color: $color-black
      font-size: 16px
      font-weight: 600
      &:hover
        color: $color-Cinnabar
    &.is-active, &.is-current
      a 
        color: $color-Cinnabar
  &--light
    li
      a
        color: $color-white
        &:hover
          color: #898586
      &.is-active, &.is-current
          a
            color: #898586