.pagination
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  background-color: $color-white
  padding: 22px 30px
  &__prev, &__next
    font-size: 14px
    font-weight: 700
    a
      color: $color-Cinnabar
      &:hover
        color: $color-black
  &__prev
    svg
      transform: rotate(180deg)
      margin-right: 10px
  &__next
    svg
      margin-left: 7px
  &__items
    font-size: 14px
    ul
      list-style: none
      margin: 0
      padding: 0
      display: flex
      li
        position: relative
        margin: 0 10px
        &.spacer
          margin: 0 17px
        a
          position: relative
          padding: 0 5px
          color: $color-black
          z-index: 20
          &:hover
            color: $color-Cinnabar
        &.is-current
          color: $color-white
          a
            color: $color-white
          &:before
            content: ''
            position: absolute
            top: -16px
            left: -15px
            +sprite('star-page')
            z-index: 10
