.section-title
  position: relative
  font-size: 30px
  font-weight: 600
  color: $color-black
  margin: 0 0 60px
  text-align: center
  &:after
    content: ''
    position: absolute
    bottom: -7px
    left: 50%
    margin-left: -15px
    width: 30px
    height: 2px
    background: $color-Cinnabar